<!--
    This is an example config file for using sergis-server with iisnode.
    For more on where this is used, see update_sergis-server.py
-->
<configuration>
  <system.webServer>
    <!-- Use our error pages instead of the IIS defaults -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Indicates that the server.js file is a node.js application 
         to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Use URL rewriting to redirect the entire branch of the URL namespace
         to the server.js node.js application; for example, the following URLs
         will all be handled by server.js:
           http://localhost/sergis
           http://localhost/sergis/foo
           http://localhost/sergis/foo/bar
    -->
    <rewrite>
      <rules>
        <rule name="sergis">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode config
         See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
         Set nodeProcessCountPerApplication to a bigger number (preferebly the
         number of cores) for multi-process load balancing.
         NOTE: If this is higher than "1", then the SerGIS Server's socket
         server MUST be running separately (so that there is only one instance
         of the socket server).
    -->
    <iisnode nodeProcessCountPerApplication="1" />
  </system.webServer>
</configuration>
